<header class="site-header">
    <nav class="primary-nav">
        <a class="primary-nav__home-link">The New IMDB</a>
        <ul class="primary-nav__links">
            <li><a>Login</a></li>
            <li><a>Favorites</a></li>
        </ul>
    </nav>
    <form class="site-header__search">
        <select>
            <option value="Friday" selected>Movie Title</option>
            <option value="Saturday">Director</option>
        </select>
        <input type="text" placeholder="Search">
        <input type="submit" value="Submit">
    </form>
    
</header>