<!DOCTYPE html>
<html>
<head>
  <title> Movie App </title>
  <% include head %>
</head>

<body>
    <% include header %>
    
    <div class="wrapper">
      <h1>Now Playing</h1>
      <div class="movie-list">
        <% movies.forEach(movie=>{ %>
          <div class="movie-list__movie">
            <a href="/movie/<%= movie.id %>"><img src="<%= imageBaseUrl + movie.poster_path %>"></a>
          </div>
        <% }) %>
      </div>
    </div>
</body>
</html>
