<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include head %>
</head>

<body>
    <% include header %>

    <div class="wrapper">
      <div class="row">
        
      </div>
    </div>
</body>
</html>
